.idea/
*.iml
.project
.settings/
.classpath
.factorypath
target/
core/.project
core/.settings/
core/.classpath
core/.factorypath
core/target/
core/api/.project
core/api/.settings/
core/api/.classpath
core/api/.factorypath
core/api/target/
core/impl/.project
core/impl/.settings/
core/impl/.classpath
core/impl/.factorypath
core/impl/target/
core/spi/.project
core/spi/.settings/
core/spi/.classpath
core/spi/.factorypath
core/spi/target/
core/testsuite/.project
core/testsuite/.settings/
core/testsuite/.classpath
core/testsuite/.factorypath
core/testsuite/target/
entity-view/.project
entity-view/.settings/
entity-view/.classpath
entity-view/.factorypath
entity-view/target/
entity-view/api/.project
entity-view/api/.settings/
entity-view/api/.classpath
entity-view/api/.factorypath
entity-view/api/target/
entity-view/impl/.project
entity-view/impl/.settings/
entity-view/impl/.classpath
entity-view/impl/.factorypath
entity-view/impl/target/
entity-view/testsuite/.project
entity-view/testsuite/.settings/
entity-view/testsuite/.classpath
entity-view/testsuite/.factorypath
entity-view/testsuite/target/
integration/.project
integration/.settings/
integration/.classpath
integration/.factorypath
integration/target/
integration/hibernate/.project
integration/hibernate/.settings/
integration/hibernate/.classpath
integration/hibernate/.factorypath
integration/hibernate/target/
/core/impl/nbactions.xml