/*
 * SPDX-License-Identifier: Apache-2.0
 * Copyright Blazebit
 */



  
 @font-face {font-family: 'Novecentowide-Light';src: url('/fonts/novecento/2459C5_0_0.eot');src: url('/fonts/novecento/2459C5_0_0.eot?#iefix') format('embedded-opentype'),url('/fonts/novecento/2459C5_0_0.woff') format('woff'),url('/fonts/novecento/2459C5_0_0.ttf') format('truetype');}
 
  
 @font-face {font-family: 'Novecentowide-Book';src: url('/fonts/novecento/2459C5_1_0.eot');src: url('/fonts/novecento/2459C5_1_0.eot?#iefix') format('embedded-opentype'),url('/fonts/novecento/2459C5_1_0.woff') format('woff'),url('/fonts/novecento/2459C5_1_0.ttf') format('truetype');}
 
  
 @font-face {font-family: 'Novecentowide-Normal';src: url('/fonts/novecento/2459C5_2_0.eot');src: url('/fonts/novecento/2459C5_2_0.eot?#iefix') format('embedded-opentype'),url('/fonts/novecento/2459C5_2_0.woff') format('woff'),url('/fonts/novecento/2459C5_2_0.ttf') format('truetype');}
 
  
 @font-face {font-family: 'Novecentowide-Medium';src: url('/fonts/novecento/2459C5_3_0.eot');src: url('/fonts/novecento/2459C5_3_0.eot?#iefix') format('embedded-opentype'),url('/fonts/novecento/2459C5_3_0.woff') format('woff'),url('/fonts/novecento/2459C5_3_0.ttf') format('truetype');}
 