%div{:id=>@id, :class=>['listingblock', role, ('slide' if option? :step)]}
  - if title?
    .title=captioned_title
  .content
    - nowrap = !(@document.attr? :prewrap) || (option? 'nowrap')
    - if @style == 'source'
      - language = attr :language
      - if language == 'java'
        - language = 'javaext'
      - elsif language == 'sql'
        - language = 'sqlext'
      - code_class = language ? [language, "language-#{language}"] : nil
      - pre_class = ['highlight', 'highlightjs']
      - pre_lang = nil
      - code_lang = language
      - highlighter = attr 'source-highlighter'
      - case attr 'source-highlighter'
      - when 'coderay'
        - pre_class = ['CodeRay']
        - code_lang = nil
      - when 'pygments'
        - pre_class = ['pygments','highlight']
        - code_lang = nil
      - when 'prettify'
        - pre_class = ['prettyprint']
        - pre_class << 'linenums' if attr? :linenums
        - pre_class << language if language
        - pre_class << "lang-#{language}" if language
        - code_lang = nil
      - when 'html-pipeline'
        - pre_lang = language
        - pre_class = code_class = code_lang = nil
        - nowrap = false
      -#- when 'highlightjs'
      - pre_class << 'nowrap' if nowrap
      - if highlighter == 'prettify'
        %pre{:class=>pre_class, :lang=>pre_lang}~content
      - else
        %pre{:class=>pre_class, :lang=>pre_lang}
          %code{:class=>code_class, :lang=>code_lang}~content
    - else
      %pre{:class=>(nowrap ? 'nowrap' : nil)}~content
